<%- include("../includes/head") %>

    <section class="mx-auto">
      <h1>password rest link send to your email</h1>
      <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Click open mail</a>
    </section>

  <%- include("../includes/foot") %>