<%- include("../includes/head") %>
    <section class="mx-auto">
      <a href="/login">Go back Login</a>
      <h1 class="title">Reset password here!</h1>
     <% if(message.length) {%>
      <p class="error"><%= message %></p>
      <% }%>
      <form action="/reset" method="post">
         <input hidden value="<%= csrfToken %>" name="_csrf"/>

        <div>
          <label for="email">Enter Email</label>
          <input type="text" id="email" name="email" />
        </div>
        <button>Reset password</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>